{% extends 'base.html.twig' %}

{% import "forms/forms.html.twig" as forms %}

{% block title %}Register{% endblock %}

{% block body %}
    <form method="post">
        {% if error is defined and error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="container text-center mb-5">
            <h1 class="h3 font-weight-normal">Sign up for a CRW Dogs account:</h1>
            <p class="lead">Creating a CRW Dogs account allows you to use this site for organizing events, view and post to the forums, and use other services like sharing housing and rides during events.</p>
        </div>

        {{ forms.input("Email Address", "email", "email", "Used to log in. We'll email you a random password for your first login.", "", true, true)}}
        {{ forms.input("First Name", "first_name", "text") }}
        {{ forms.input("Last Name", "last_name", "text") }}
        {{ forms.input("Phone", "phone", "text", "Provided to organizers of events you register for if they need to contact you before or during an event, otherwise not shared.") }}
        {{ forms.input("Location", "location", "text", "Displayed on your profile to give people an idea of where you jump.") }}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="row mt-5">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center mb-5">
                <button class="btn btn-lg btn-dark" type="submit">
                    Register
                </button>
            </div>
        </div>
    </form>
{% endblock %}
