Thank you for your registration, {{ user.getFirstName() }} {{ user.getLastName() }}!<br/>
<br/>
Here is the information you provided:<br/>
Nickname: {{ user.getNick() }} <br/>
Phone: {{ user.getPhone() }}<br/>
Location: {{ user.getLocation() }}<br/>
<br/>
To login, please visit <a href="https://crwdogs.com/login">https://crwdogs.com/login</a> and login with this email and your password:<br/>
<br/>
{{ password }}<br/>
<br/>
Blue Skies!